<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="nr_dual_arm_ros2_control" params="name hardware_type:=fake joint_commands_topic:=/isaac_joint_commands joint_states_topic:=/isaac_joint_states">
    <xacro:property name="initial_positions" value="${xacro.load_yaml('initial_positions.yaml')['initial_positions']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${hardware_type == 'real' or hardware_type == 'isaac'}">
          <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
          <param name="sum_wrapped_joint_states">true</param>
          <param name="joint_commands_topic">${joint_commands_topic}</param>
          <param name="joint_states_topic">${joint_states_topic}</param>
          <xacro:if value="${hardware_type == 'real'}">
            <param name="trigger_joint_command_threshold">-1</param>
          </xacro:if>
        </xacro:if>
        <xacro:unless value="${hardware_type == 'real' or hardware_type == 'isaac'}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">false</param>
          <param name="state_following_offset">0.0</param>
          <param name="calculate_dynamics">true</param>
        </xacro:unless>
      </hardware>

      <joint name="uf_slide_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['uf_slide_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="uf850_joint1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['uf850_joint1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="uf850_joint2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['uf850_joint2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="uf850_joint3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['uf850_joint3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="uf850_joint4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['uf850_joint4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="uf850_joint5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['uf850_joint5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="uf850_joint6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['uf850_joint6']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="xarm5_joint1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['xarm5_joint1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="xarm5_joint2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['xarm5_joint2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="xarm5_joint3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['xarm5_joint3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="xarm5_joint4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['xarm5_joint4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="xarm5_joint5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['xarm5_joint5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="rg6_right_drive_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['rg6_right_drive_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="xarm_gripper_right_drive_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['xarm_gripper_right_drive_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
